/*- Custom style -*/

// -- Put custom style under this point -- //

h2{
  font-size:3em;
  padding-bottom:.7em;
}

.fornext{
  font-style: italic;
}
.week{
  background-color:white;
}

.lab{
  font-family:"roboto";
  // background-color:#f206df;
  background-color:#199c8a;
  color:white;
  font-weight:400;
  padding:2px 6px;
  a{
    border:none;
    font-weight: 600;
  }
}

.test{
  background-color:yellow;
  padding:5px 8px;
  a{
    border:none;
    font-weight: 600;
  }
}
.proj{
  font-family:"roboto";
  background-color:#b764a8;
  color:white;
  font-weight:400;
  padding:2px 6px;
  a{
    border:none;
    font-weight: 600;
  }
}
.duration{
  font-size:1.3em;
  margin-bottom: 2em;
}
.fornext{
  margin:2.3em;
  margin-bottom:-2em;
}
.lab-sect{
  font-weight:500;
}

.ass{
  font-family:"Roboto";
  text-transform: capitalize;
}


img{
  display:inline;
}
